<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="min-width : 50px;min-height : 80px ;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" >
	<script type="text/javascript" src="plugins/motion/desktop/js/jquery.maphilight.min.js"></script>
	<span class="statusCmd" style="position : absolute;bottom : 3px;left : 3px;width : 30px;color: #404040 ;z-index: 1030;"></span>
	<center class="widget-name">
		<span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
	</center>			
	<center>
		<div style="text-align:center;padding:5px;">#media# - #state#</div>
		<div style="float:left;padding:5px;"><i class="fa fa-long-arrow-up" style="font-size:32px;"></i></div>
		<div style="float:left;text-align:left;padding:4px;">
			<div>#bandwidth_up#</div>
			<div>#rate_up#</div>
		</div>
		<div style="float:right;padding:5px;"><i class="fa fa-long-arrow-down" style="font-size:32px;"></i></div>
		<div style="float:right;text-align:right;padding:4px;">
			<div>#bandwidth_down#</div>
			<div>#rate_down#</div>
		</div>
	</center>
</div>
