<div class="cmd tooltips cmd-widget cursor #history#" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" style="width:150px;min-height:20px;">
	<style>
		.lan-sprite,.lan-freebox_hd-0,.lan-freebox_hd-1,.lan-freebox_mini-0,.lan-freebox_mini-1,.lan-freebox_player-0,.lan-freebox_player-1,.lan-group,.lan-ip_camera-0,.lan-ip_camera-1,.lan-ip_phone-0,.lan-ip_phone-1,.lan-laptop-0,.lan-laptop-1,.lan-multimedia_device-0,.lan-multimedia_device-1,.lan-nas-0,.lan-nas-1,.lan-networking_device-0,.lan-networking_device-1,.lan-other-0,.lan-other-1,.lan-printer-0,.lan-printer-1,.lan-smartphone-0,.lan-smartphone-1,.lan-tablet-0,.lan-tablet-1,.lan-television-0,.lan-television-1,.lan-vg_console-0,.lan-vg_console-1,.lan-workstation-0,.lan-workstation-1{background:url('plugins/Freebox_OS/core/template/images/lan-sff9eb39109.png') no-repeat}
		.lan-sprite,.lan-freebox_hd-0,.lan-freebox_hd-1,.lan-freebox_mini-0,.lan-freebox_mini-1,.lan-freebox_player-0,.lan-freebox_player-1,.lan-group,.lan-ip_camera-0,.lan-ip_camera-1,.lan-ip_phone-0,.lan-ip_phone-1,.lan-laptop-0,.lan-laptop-1,.lan-multimedia_device-0,.lan-multimedia_device-1,.lan-nas-0,.lan-nas-1,.lan-networking_device-0,.lan-networking_device-1,.lan-other-0,.lan-other-1,.lan-printer-0,.lan-printer-1,.lan-smartphone-0,.lan-smartphone-1,.lan-tablet-0,.lan-tablet-1,.lan-television-0,.lan-television-1,.lan-vg_console-0,.lan-vg_console-1,.lan-workstation-0,.lan-workstation-1{width:60px;height:60px;background-repeat:no-repeat}
		.lan-host{padding:3px;width:115px;height:115px;margin:5px;overflow:hidden;float:left}
		.lan-host-0{color:#999}
		.lan-host-selected{border:1px solid #DDD;padding:2px;color:#FFF;text-shadow:1px 1px #000000;background:#980000}
		.lan-host-0{opacity:0.5}
		.lan-host-img{margin:0 auto}
		.lan-host-name,.lan-host-vendor{margin-top:5px;overflow:hidden;text-align:center;white-space:normal}
		.lan-host-vendor{margin-top:0px}
		.lan-vendor-name,.lan-host-vendor,.dhcp-host-detail{f1t-size:10px;color:#666;f1t-style:italic}
		.parental-filter-grid .x-grid-cell{vertical-align:middle}
		.filter-row-allowed .x-grid-cell{background-color:#EFE}
		.filter-row-denied .x-grid-cell{background-color:#FEE}
		.filter-row-web1ly .x-grid-cell{background-color:#EEF}
		.connection-status-down .x-grid-td{background-color:#FEE}
		.connection-status-up .x-grid-td{background-color:#EFE}
		.lan-freebox_hd-0{background-position:0 -1800px}
		.lan-freebox_hd-1{background-position:0 -720px}
		.lan-freebox_mini-0{background-position:0 -1920px}
		.lan-freebox_mini-1{background-position:0 -1320px}
		.lan-freebox_player-0{background-position:0 -1860px}
		.lan-freebox_player-1{background-position:0 -1260px}
		.lan-group{background-position:0 0}
		.lan-ip_camera-0{background-position:0 -1020px}
		.lan-ip_camera-1{background-position:0 -360px}
		.lan-ip_phone-0{background-position:0 -960px}
		.lan-ip_phone-1{background-position:0 -240px}
		.lan-laptop-0{background-position:0 -1380px}
		.lan-laptop-1{background-position:0 -420px}
		.lan-multimedia_device-0{background-position:0 -1560px}
		.lan-multimedia_device-1{background-position:0 -600px}
		.lan-nas-0{background-position:0 -1740px}
		.lan-nas-1{background-position:0 -1080px}
		.lan-networking_device-0{background-position:0 -1500px}
		.lan-networking_device-1{background-position:0 -780px}
		.lan-other-0{background-position:0 -1200px}
		.lan-other-1{background-position:0 -300px}
		.lan-printer-0{background-position:0 -1440px}
		.lan-printer-1{background-position:0 -540px}
		.lan-smartphone-0{background-position:0 -1680px}
		.lan-smartphone-1{background-position:0 -660px}
		.lan-tablet-0{background-position:0 -1620px}
		.lan-tablet-1{background-position:0 -480px}
		.lan-television-0{background-position:0 -900px}
		.lan-television-1{background-position:0 -60px}
		.lan-vg_console-0{background-position:0 -840px}
		.lan-vg_console-1{background-position:0 -120px}
		.lan-workstation-0{background-position:0 -1140px}
		.lan-workstation-1{background-position:0 -180px}
	</style>
	<div class="title #hide_name#">
		<div class="cmdName">#name_display#</div>
	</div>
	<div class="content-sm">
		<div class="lan-host-img"  aria-label="#name#"></div>
		<div class="lan-host-vendor ipv4">
			<div class="ipv4"></div>
			<div class="ipv6"></div>
		</div>
	</div>
	<script>
	jeedom.cmd.update['#id#'] =function(_options){
		jeedom.cmd.byId({id:'#id#',success:function(data){
			$('.cmd[data-cmd_id=#id#]').attr('title','Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate);
			$(".cmd[data-cmd_id=#id#] .lan-host-vendor .ipv4").text(data.configuration.IPV4);
			$(".cmd[data-cmd_id=#id#] .lan-host-vendor .ipv6").text(data.configuration.IPV6);
			if (_options.display_value == '1') {
				$(".cmd[data-cmd_id=#id#] .lan-host-img").addClass('lan-host-1');
				$(".cmd[data-cmd_id=#id#] .lan-host-img").addClass('lan-'+data.configuration.host_type+'-1');
			} else {
				$(".cmd[data-cmd_id=#id#] .lan-host-img").addClass('lan-host-0');
				$(".cmd[data-cmd_id=#id#] .lan-host-img").addClass('lan-'+data.configuration.host_type+'-0');
			}
		}});
	}
	jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});

	$(".cmd[data-cmd_id=#id#]").off().on("click", function() {
		$('#md_modal').dialog({
			title: "Parametre de l'équipement Reseau",
			height: 700,
			width: 850});
		SelectEquipement='#id#';
		$('#md_modal').load('index.php?v=d&modal=outil.reseau&plugin=Freebox_OS&type=Freebox_OS').dialog('open');
	});
	</script>
</div>
