<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="min-width : 50px;min-height : 80px ;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" >
	<span class="statusCmd" style="position : absolute;bottom : 3px;left : 3px;width : 30px;color: #404040 ;z-index: 1030;"></span>
	<center class="widget-name">
		<span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
	</center>		
        <div  class="tooltips nb_tasks" style="margin-left:20px;">
                        <span title="Nombre de tâche(s)" class="fa fa-thumb-tack" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks#</span>
	</div>
 	<div class="tooltips nb_tasks_active" style="margin-left:20px;">
                        <span title="Nombre de tâche(s) active" class="fa fa-cog" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_active#</span>
        </div>
        <div class="tooltips nb_tasks_extracting" style="margin-left:20px;">
                        <span title="Nombre de tâche(s) en extraction" class="fa fa-sign-out" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_extracting#</span>
        </div>
        <div class="tooltips nb_tasks_repairing" style="margin-left:20px;">
                        <span title="Nombre de tâche(s) en réparation" class="fa fa-wrench" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_repairing#</span>
        </div>
	<div class="tooltips nb_tasks_checking" style="margin-left:20px;">
                        <span title="Nombre de tâche(s) en vérification" class="fa fa-search" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_checking#</span>
        </div>
        <div class="tooltips nb_tasks_queued" style="margin-left:20px;">
                        <span title="Nombre de tâche(s) en attente" class="fa fa-refresh" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_queued#</span>
        </div>
        <div class="tooltips nb_tasks_error" style="margin-left:20px;">
                        <span title="Nombre de tâche(s) en erreur" class="fa fa-times" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_error#</span>
        </div>
        <div class="tooltips nb_tasks_stopped" style="margin-left:20px;">
                        <span title="Nombre de tâche(s) stoppée(s)" class="fa fa-stop" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_stopped#</span>
        </div>
        <div class="tooltips nb_tasks_done" style="margin-left:20px;">
                        <span title="Nombre de tâche(s) terminée(s)" class="fa fa-check" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_done#</span>
        </div>
        <div class="tooltips nb_tasks_downloading" style="margin-left:20px;;">
                        <span title="Téléchargement en cours" class="fa fa-download" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_downloading#</span>
        </div>
        <div class="tooltips rx_rate" style="margin-left:20px;">
                        <span title="Vitesse réception" class="fa fa-long-arrow-down" style="min-width:15px;float:left;"></span>
                        <span>#rx_rate#</span>
        </div>
        <div class="tooltips tx_rate" style="margin-left:20px;">
                        <span title="Vitesse émission" class="fa fa-long-arrow-up" style="min-width:15px;float:left;"></span>
                        <span>#tx_rate#</span>
	</div>
        <center><div class="tooltips" style="padding:15px;">
                        <span style="min-width:15px;float:left;"></span>
			<span title="Démarrer le(s) téléchargement(s)">#start_dl#</span>
			<span title="Arrêter le(s) téléchargement(s)">#stop_dl#</span>
        </div></center>
	<script>
		$('.nb_tasks').hide();
		$('.nb_tasks_active').hide();
		$('.nb_tasks_extracting').hide();
		$('.nb_tasks_repairing').hide();
		$('.nb_tasks_checking').hide();
		$('.nb_tasks_queued').hide();
		$('.nb_tasks_error').hide();
		$('.nb_tasks_stopped').hide();
		$('.nb_tasks_done').hide();
		$('.nb_tasks_downloading').hide();
		$('.rx_rate').hide();
		$('.tx_rate').hide();
		$.each(JSON.parse('#masque#'), function(i, item) {
			$('.'+item).show();	
		});
	</script>
</div>
