<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="min-width : 50px;min-height : 80px ;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" >
	<script type="text/javascript" src="plugins/motion/desktop/js/jquery.maphilight.min.js"></script>
	<center class="widget-name">
		<span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
	</center>		
	<fieldset style="text-align:center;">
		<legend style="text-align:left;font-size:11px;color:rgba(255,255,255,0.9);border-bottom:1px solid rgba(255,255,255,0.5);">Aujourd'hui :</legend>
		#nbAppelsManquee#
		#nbAppelRecus#
		#nbAppelPasse#
		
		<hr style="margin-bottom:8px;border: 0;height: 1px;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));}">
		
		<div style="height:100px">
			<div id="divAppelsManquee">
				<div>Appels Manqués</div>
				#listAppelsManquee#
			</div>
			<div id="divAppelsRecus">
				<div>Appels Reçus</div>
				#listAppelsRecus#
			</div>
			<div id="divAppelsPasse">
				<div>Appels Passés</div>
				#listAppelsPasse#
			</div>
		</div>
		
	</fieldset>
<script>
	$('#divAppelsManquee').css({	"padding":'1px',
					"color":'white',
					"font-size":'9px',
					"text-align":'left',
					"background":'transparent'
				});
	//$('#divAppelsManquee').hide();
	$('#divAppelsRecus').hide()
	$('#divAppelsPasse').hide()
</script>
</div>
