<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="min-width : 50px;min-height : 80px ;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" >
	<span class="statusCmd" style="position : absolute;bottom : 3px;left : 3px;width : 30px;color: #404040 ;z-index: 1030;"></span>
	<center class="widget-name">
		<span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
	</center>		
	<center>
		<div>#Equipements#</div>
	</center>	
	<script>
		var SelectEquipement='';
	</script>
</div>
