<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="mobile" style="width: #width#;height: #height#;background-color: #background#;">
    <span class="statusCmd" style="position:absolute;left:5px;width:30px;"></span>
		<section style="height:12%;">
			<center class="widget-name">#name#<span style="font-size: 0.85em;position: relative;top:-2px;"></span></center>
			<hr style="margin-top:0px;margin-bottom:3px;border:0px;height:1px;width:100%;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));}">
		</section>
	
		<section style="height:87%;">		
			<div style="text-align:center;">
				<div>
					<div style="text-align:center;padding:5px;">#media#</div>
					<div style="float:left;padding:5px;"><i class="fa fa-long-arrow-up" style="font-size:32px;"></i></div>
					<div style="float:left;text-align:left;padding:5px;font-size:0.9em;">
						<div>#bandwidth_up#</div>
						<div>#rate_up#</div>
					</div>
					<div style="float:right;padding:5px;"><i class="fa fa-long-arrow-down" style="font-size:32px;"></i></div>
					<div style="float:right;text-align:right;padding:5px;font-size:0.9em;">
						<div>#bandwidth_down#</div>
						<div>#rate_down#</div>
					</div>
				</div>
			</div>
		</section>
</div>
