<div class="eqLogic-widget eqLogic allowResize" style="width: #width#;height: #height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
	<span class="statusCmd" style="position:absolute;left:5px;width:30px;"></span>
    	<div>
		<section style="height:12%;">
			<center class="widget-name">
				<a href="index.php?v=d&amp;p=Freebox_OS&amp;m=Freebox_OS&amp;id=#id#" style="font-size : 1.5em;">#name#</a> 
				<span style="font-size: 0.85em;position: relative;top:-2px;"></span>
			</center>
			<hr style="margin-top:0px;margin-bottom:3px;border:0px;height:1px;width:100%;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));}">
		</section>
	
		<section style="height:87%;">		
			<div style="text-align:center;">
				#ActualAirmedia#
				#airmediastart#
			</div>
		</section>
	</div>
</div>
