<div  style="width: 100px;" class="cmd tooltips cmd-widget" data-type="action" data-subtype="message" data-cmd_id="#id#" title="#collectDate#">
    <center>
        <select style="color:black;width: 100px;" class="action CmdSelectorType#id#"></select>
      <textarea class="form-control input-sm CmdMedia#id#" rows="2" style="margin-top : 5px; resize:vertical;height: 50px;" placeholder="Url du media"  data-cmd_id="#id#"></textarea>
      <a class="btn btn-success btn-xs execute cmdName">#name#</a>
    </center>
    <script>
        $.ajax({
    		type: 'POST',            
    		async: false,
    		url: 'plugins/Freebox_OS/core/ajax/Freebox_OS.ajax.php',
    		data:
    			{
    			action: 'getAirMediaRecivers'
    			},
    		dataType: 'json',
    		global: false,
    		error: function(request, status, error) {},
    		success: function(data) {
    			$('.CmdSelectorType#id#').html('');
    		  	jQuery.each(data.result,function(id,Receiver) {
		  	    $('.CmdSelectorType#id#').append($('<optgroup label="'+Receiver.name+'">'));
        		  	jQuery.each(Receiver.capabilities,function(key, value) {
                        if(value)
                            $('.CmdSelectorType#id#').append($('<option value="'+key+'">').text(key));
                	});
    		  	});
    		}
    	});
       // $('.CmdSelectorMode#id# option[value="#state#"]').prop('selected', true);
        $('.cmd[data-cmd_id=#id#] .execute').on('click', function() {
          jeedom.cmd.execute({id: '#id#', value: {titre:$('.CmdSelectorType#id#').val(), message:$('.CmdMedia#id#').val()}});
        });
    </script>
</div>
