<div  class="cmd tooltips cmd-widget" data-type="info" data-subtype="string" data-cmd_id="#id#" title="#collectDate#">
	<div id="alerte_adsl#id#"></div>
	<script>
		if('#state#'=="Collecte en cours")
		{
			$('#alerte_adsl#id#').css({"font-size":'8px',"background-color":'rgba(237,32,32,0.7)',"color":'white',"font-weight":'bold'});
		}
		else if('#state#'=="")
		{
			$('#alerte_adsl#id#').css({"font-size":'8px',"background-color":'rgba(237,32,32,0.7)',"color":'white',"font-weight":'bold'});
			$('#alerte_adsl#id#').append("<p>Collecte en cours</p>");
		}
		else
		{
			switch('#logicalId#')
			{
				case 'rate_down':
					$('#alerte_adsl#id#').html('#state#'+" Ko/s");
				break;
				
				case 'rate_up':
					$('#alerte_adsl#id#').html('#state#'+" Ko/s");
				break;
				
				case 'bandwidth_up':
					$('#alerte_adsl#id#').html('#state#'+" Mb/s");
				break;
				
				case 'bandwidth_down':
					$('#alerte_adsl#id#').html('#state#'+" Mb/s");
				break;
			}
		}
    </script>
</div>

