<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="mobile" style="width: #width#;height: #height#;background-color: #background#;">
    <span class="statusCmd" style="position:absolute;left:5px;width:30px;"></span>
    <div>
		<section style="height:12%;">
			<center class="widget-name">#name#<span style="font-size: 0.85em;position: relative;top:-2px;"></span></center>
			<hr style="margin-top:0px;margin-bottom:3px;border:0px;height:1px;width:100%;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));}">
		</section>
    </div>
	
		<section style="height:87%;">
		<div class="row" style="margin-left:1px;margin-right : 5px;padding:10px;">
		   <div class="col-sm-6" style="White-space:nowrap; Overflow:hidden;">

                        <span title="Nombre de tâche(s)" class="fa fa-thumb-tack" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks#</span>

                      	<span title="Nombre de tâche(s) active" class="fa fa-cog" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_active#</span>

                        <span title="Nombre de tâche(s) en extraction" class="fa fa-sign-out" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_extracting#</span>

                        <span title="Nombre de tâche(s) en réparation" class="fa fa-wrench" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_repairing#</span>

                        <span title="Nombre de tâche(s) en vérification" class="fa fa-search" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_checking#</span>

                        <span title="Vitesse réception" class="fa fa-long-arrow-down" style="min-width:15px;float:left;"></span>
                        <span>#rx_rate#</span>
		    </div>
		  <div class="col-sm-6" style="padding-left : 10px;White-space:nowrap; Overflow:hidden;">

                        <span title="Nombre de tâche(s) en attente" class="fa fa-refresh" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_queued#</span>

                        <span title="Nombre de tâche(s) en erreur" class="fa fa-times" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_error#</span>

                        <span title="Nombre de tâche(s) stoppée(s)" class="fa fa-stop" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_stopped#</span>

                        <span title="Nombre de tâche(s) terminée(s)" class="fa fa-check" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_done#</span>

                        <span title="Téléchargement en cours" class="fa fa-download" style="min-width:15px;float:left;"></span>
                        <span>#nb_tasks_downloading#</span>

                        <span title="Vitesse émission" class="fa fa-long-arrow-up" style="min-width:15px;float:left;"></span>
                        <span>#tx_rate#</span>
		  </div>
		</div>
        	<center><div class="tooltips" style="padding:20px;">
                        <span style="min-width:15px;float:left;"></span>
                        <span title="Démarrer le(s) téléchargement(s)">#start_dl#</span>
                        <span title="Arrêter le(s) téléchargement(s)">#stop_dl#</span>
        	</div></center>
		</section>
</div>
