<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="mobile" style="width:100%;background-color: #background#;">
    <span class="statusCmd" style="position:absolute;left:5px;width:30px;"></span>
	<fieldset style="text-align:center;">
		<center class="widget-name">#name#<span style="font-size: 0.85em;position: relative;top:-2px;"></span></center>
		<hr style="margin-top:0px;margin-bottom:3px;border:0px;height:1px;width:100%;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));}">
		<center>
			<div>#Equipements#</div>
		</center>	
	</fieldset>
</div>
