<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
	<span class="input-group-addon roundedLeft" id="basic-addon1" style="width: 100px">Adresse Mac</span>
	<textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="mac_address" rows="1" style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#mac_address#</textarea>
</div>

<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
	<span class="input-group-addon roundedLeft" id="basic-addon1" style="width: 100px">Mot de Passe</span>
	<textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="password" rows="1" style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#password#</textarea>
</div>

<script>
  $('.listEquipementInfo[data-uid=#uid#]').on('click', function () {
    if ('#message_cmd_subtype#' != '') {
      jeedom.cmd.getSelectModal({
        cmd: {
          type: '#message_cmd_type#',
          subType: '#message_cmd_subtype#'
        }
      }, function (result) {
        $('.expressionAttr[data-l1key=options][data-l2key=mac][data-uid=#uid#]').atCaret('insert', result
          .human);
      });
    } else {
      jeedom.cmd.getSelectModal({
        cmd: {
          type: '#message_cmd_type#'
        }
      }, function (result) {
        $('.expressionAttr[data-l1key=options][data-l2key=mac][data-uid=#uid#]').atCaret('insert', result
          .human);
      });
    }
  });
</script>